
.metadata/.lock
.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/92/c0863a85b574001b12c48106376e57e2
.metadata/.plugins/org.eclipse.core.resources/.history/c0/60cc1f88b574001b12c48106376e57e2
.metadata/.plugins/org.eclipse.core.resources/.projects/savanna/.indexes/e4/81/88/7b/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/savanna/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/savanna/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/savanna/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/savanna/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/savanna/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.server.tomcat.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.web.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1102354409.index
.metadata/.plugins/org.eclipse.jdt.core/113544824.index
.metadata/.plugins/org.eclipse.jdt.core/1230375882.index
.metadata/.plugins/org.eclipse.jdt.core/1471753581.index
.metadata/.plugins/org.eclipse.jdt.core/1704956129.index
.metadata/.plugins/org.eclipse.jdt.core/1750013800.index
.metadata/.plugins/org.eclipse.jdt.core/2080277838.index
.metadata/.plugins/org.eclipse.jdt.core/2227786841.index
.metadata/.plugins/org.eclipse.jdt.core/252271469.index
.metadata/.plugins/org.eclipse.jdt.core/2661293508.index
.metadata/.plugins/org.eclipse.jdt.core/2795265832.index
.metadata/.plugins/org.eclipse.jdt.core/325949621.index
.metadata/.plugins/org.eclipse.jdt.core/3294771886.index
.metadata/.plugins/org.eclipse.jdt.core/3551552156.index
.metadata/.plugins/org.eclipse.jdt.core/3597645588.index
.metadata/.plugins/org.eclipse.jdt.core/3643736272.index
.metadata/.plugins/org.eclipse.jdt.core/368191065.index
.metadata/.plugins/org.eclipse.jdt.core/3890964253.index
.metadata/.plugins/org.eclipse.jdt.core/4062864311.index
.metadata/.plugins/org.eclipse.jdt.core/414759181.index
.metadata/.plugins/org.eclipse.jdt.core/483966528.index
.metadata/.plugins/org.eclipse.jdt.core/512056584.index
.metadata/.plugins/org.eclipse.jdt.core/769398222.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/participantsIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jst.j2ee.web/webLibrariesCache.index
.metadata/.plugins/org.eclipse.jst.jsp.core/jspsearch/1702777224.index
.metadata/.plugins/org.eclipse.jst.jsp.core/jspsearch/2063732003.index
.metadata/.plugins/org.eclipse.jst.jsp.core/jspsearch/231738319.index
.metadata/.plugins/org.eclipse.jst.jsp.core/jspsearch/3321025583.index
.metadata/.plugins/org.eclipse.jst.jsp.core/jspsearch/3866608375.index
.metadata/.plugins/org.eclipse.jst.jsp.core/jspsearch/3993667338.index
.metadata/.plugins/org.eclipse.jst.jsp.core/jspsearch/4216099026.index
.metadata/.plugins/org.eclipse.jst.jsp.core/jspsearch/990559060.index
.metadata/.plugins/org.eclipse.jst.jsp.core/taglibindex/252271469.dat
.metadata/.plugins/org.eclipse.jst.jsp.core/translators/1658882889.translator
.metadata/.plugins/org.eclipse.jst.jsp.core/translators/1716930569.translator
.metadata/.plugins/org.eclipse.jst.jsp.core/translators/2555598701.translator
.metadata/.plugins/org.eclipse.jst.jsp.core/translators/2728421270.translator
.metadata/.plugins/org.eclipse.jst.jsp.core/translators/3469200539.translator
.metadata/.plugins/org.eclipse.jst.jsp.core/translators/3576193482.translator
.metadata/.plugins/org.eclipse.jst.jsp.core/translators/3869811753.translator
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.14.0.20191209-1925.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.internet.cache/1389735363.cache
.metadata/.plugins/org.eclipse.wst.internet.cache/2055066984.cache
.metadata/.plugins/org.eclipse.wst.internet.cache/cache.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1612961596.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/252271469.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2553257818.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2709359158.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3700859262.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/780491155.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/1702777224.index
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/2063732003.index
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/231738319.index
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/3321025583.index
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/3866608375.index
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/3993667338.index
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/4216099026.index
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/990559060.index
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.sse.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.wst.validation/dep.index
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/version.ini
.metadata/.plugins/org.eclipse.core.resources/.projects/savanna/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/savanna/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/2.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.jdt.core/1123907644.index
.metadata/.plugins/org.eclipse.jdt.core/1282712652.index
.metadata/.plugins/org.eclipse.jdt.core/1355330515.index
.metadata/.plugins/org.eclipse.jdt.core/1461375247.index
.metadata/.plugins/org.eclipse.jdt.core/163088024.index
.metadata/.plugins/org.eclipse.jdt.core/1712535761.index
.metadata/.plugins/org.eclipse.jdt.core/173864439.index
.metadata/.plugins/org.eclipse.jdt.core/1774644164.index
.metadata/.plugins/org.eclipse.jdt.core/1796441282.index
.metadata/.plugins/org.eclipse.jdt.core/1815662326.index
.metadata/.plugins/org.eclipse.jdt.core/2177350302.index
.metadata/.plugins/org.eclipse.jdt.core/235937257.index
.metadata/.plugins/org.eclipse.jdt.core/239871467.index
.metadata/.plugins/org.eclipse.jdt.core/2402964102.index
.metadata/.plugins/org.eclipse.jdt.core/2470089039.index
.metadata/.plugins/org.eclipse.jdt.core/2488665110.index
.metadata/.plugins/org.eclipse.jdt.core/319333756.index
.metadata/.plugins/org.eclipse.jdt.core/3476425240.index
.metadata/.plugins/org.eclipse.jdt.core/3700016691.index
.metadata/.plugins/org.eclipse.jdt.core/3722929103.index
.metadata/.plugins/org.eclipse.jdt.core/3866726117.index
.metadata/.plugins/org.eclipse.jdt.core/3895275253.index
.metadata/.plugins/org.eclipse.jdt.core/4134060899.index
.metadata/.plugins/org.eclipse.jdt.core/4179350088.index
.metadata/.plugins/org.eclipse.jdt.core/616744370.index
.metadata/.plugins/org.eclipse.jdt.core/663974701.index
.metadata/.plugins/org.eclipse.jdt.core/721920812.index
.metadata/.plugins/org.eclipse.jdt.core/915478008.index
.metadata/.plugins/org.eclipse.jst.j2ee/earLibrariesCache.index
